body {
  margin: 0;
  padding: 0;
}
.container {
  /* Create three section grid for page */
  display: grid;
  grid-template-areas:
    "healthbar"
    "sprite"
    "moves";
}
.container > * {
  border: 2px solid black;
  height: 100%;
  padding: 1.5rem;
  text-align: center;
}
.healthbar {
  /* Display in top third of page */
  grid-area: healthbar;
  display: grid;
  grid-template-areas: "healthbar-left healthbar-right";
  height: auto;
  background-color: olivedrab;
  padding: 3rem;
}
.healthbar > * {
  border: 1px solid blueviolet;
}
#healthbar-left {
  grid-area: healthbar-left;
}
#healthbar-left > * {
  border: 1px solid black;
  padding: 1rem;
  background-color: antiquewhite;
}
#healthbar-right {
  grid-area: healthbar-right;
}
#healthbar-right > * {
  border: 1px solid black;
  padding: 1rem;
  background-color: antiquewhite;
}
.sprite {
  /* Display in middle third of page */
  grid-area: sprite;
  display: grid;
  grid-template-areas: "sprite-left sprite-right";
  height: auto;
  background-color: firebrick;
  padding: 6.5rem;
}
.sprite > * {
  border: 1px solid goldenrod;
}
#sprite-left {
  grid-area: sprite-left;
  display: grid;
  grid-template-areas:
    "pokemon-img-left"
    "pokemon-message-left";
}
#sprite-left > * {
  border: 2px solid black;
  background-color: goldenrod;
}
#pokemon-img-left {
  padding: 6rem;
}
#pokemon-message-left {
  padding: 2rem;
  background-color: gray;
}

#sprite-right {
  grid-area: sprite-right;
  display: grid;
  grid-template-areas:
    "pokemon-img-right"
    "pokemon-message-right";
}
#sprite-right > * {
  border: 2px solid black;
  background-color: palevioletred;
}
#pokemon-img-right {
  padding: 6rem;
}
#pokemon-message-right {
  padding: 2rem;
  background-color: gray;
}
.moves {
  /* Display in bottom third of page */
  grid-area: moves;
  display: grid;
  grid-template-areas: "moves-left moves-right";
  height: auto;
  background-color: blueviolet;
}
.moves > * {
  border: 1px solid black;
  background-color: olivedrab;
  height: 100%;
  width: 100%;
}
#moves-left {
  grid-area: moves-left;
  display: grid;
  grid-template-areas:
    "pokemon-left-move1 pokemon-left-move2"
    "pokemon-left-move3 pokemon-left-move4";
}
/* Moves Left */
#moves-left > * {
  padding: 2.5rem;
  background-color: slategray;
  border: 1px solid black;
}
#moves-left-move1 {
  grid-area: pokemon-left-move1;
}
#moves-left-move2 {
  grid-area: pokemon-left-move2;
}
#moves-left-move3 {
  grid-area: pokemon-left-move3;
}
#moves-left-move4 {
  grid-area: pokemon-left-move4;
}
/* Moves Right */
#moves-right {
  grid-area: moves-right;
  display: grid;
  grid-template-areas:
    "pokemon-right-move1 pokemon-right-move2"
    "pokemon-right-move3 pokemon-right-move4";
}
#moves-right > * {
  padding: 2.5rem;
  background-color: antiquewhite;
  border: 1px solid black;
}
#moves-right-move1 {
  grid-area: pokemon-right-move1;
}
#moves-right-move2 {
  grid-area: pokemon-right-move2;
}
#moves-right-move3 {
  grid-area: pokemon-right-move3;
}
#moves-right-move4 {
  grid-area: pokemon-right-move4;
}
